---
const pageTitle = "About Me";

const identity = {
	firstName: "Marchyus",
	country: "LT",
	occupation: "automation and code",
	hobbies: ["cycling", "coding", "gaming", "flashlights"],
};

const skills = ["python", "devops", "RPA", "SQL"];

const happy = true;
const finished = false;
const goal = 3;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

        <a href="/">Home </a>
		<a href="/about">About </a>
        <a href="/blog">Blog</a>


		<h1>Astro</h1>
		<h1>{pageTitle}</h1>

        <p>Some minor details about me </p>
		
		<ul>
			<li>Name: {identity.firstName}</li>
			<li>Living in: {identity.country} and working around {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}. </li>
			}
		</ul>
		<p>Some of my skills are:</p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>

		{happy && <p>I'm happy learning new skills</p>}
		{finished && <p>I've finished this tutorial</p>}
		{goal === 3 ? <p>My goal is to finish it in 3 days.</p> : <p>Not sure if I'll finish it up in 3 days.</p>}


	</body>
</html>
